


table{
   
    margin-left: 50px;
    margin-right: 50px;
}
th,h1{
  background-color: blueviolet;
  height: 50px;
  
}
td{text-align: justify;
    padding-right: 85px;
  background-color: aliceblue;
        
     
}
.a,li,ul{
    background-color: rgb(202, 184, 184);
    padding-top: 1px;
    vertical-align: top;

}
*{
    background-color: pink;
}

div{
    background-color: gray;
    text-align: center;
    position:sticky;
    
}