.div1 {
    border: 1px solid;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
    margin-top: 5px;
    background-color: aliceblue;
    width: 25%;
}

* {
    background-color: rgb(255, 200, 248);
}

h2{
    background-color: aliceblue;
}
.q{
    background-color: gold;
}
.i{
    background-color: lightcoral;
}
.r{
    border-color: rgb(255, 58, 58);
    background-color: aliceblue;
    margin-top: 5px;
    
   
   
   
    padding-bottom: 15px;
    border-style: dashed;

}
.dot{
    border-style: dashed;
    
    margin-top: 5px;
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
}

div{
    background-color: aliceblue;
}

.pr{
    color: blueviolet;
}