td {
    border: 1px solid ;
    border-style:double ;
    border-collapse: separate;
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgb(134, 133, 133); 
    text-align:center;
    padding: 5px
    

  }

  table{
    border-spacing: 10px ;
  }